__pycache__/
package/
*.zip

.idea
/data
/source

/stonent_dapp/frontend/node_modules
/stonent_dapp/frontend/build
/stonent_dapp/frontend/linter
/stonent_dapp/frontend/.eslintignore
/stonent_dapp/frontend/.eslintrc.js
/stonent_dapp/frontend/.stylelintrc.js

/stonent_dapp/backend/node_modules
